:root {
    --fundo: rgb(218, 218, 218);
    --azulPmfEscuro: #002f66;
    --azulPmfClaro: #0093d4;
    --azulPmfClaro_1:#00B1EB;
}

@keyframes blinkRed {
    0%, 100% { background-color: var(--azulPmfEscuro) }
    25% { background-color: var(--azulPmfClaro) }
}

@keyframes fadeInOut {
    0%, 100% { opacity: 1; }
    25% { opacity: 0; }
}
  

body {
    background-color:var(--azulPmfClaro);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
    
#title {
    font-size: xx-large;
    color: white;
    text-align: center;
    animation: blinkRed 1s infinite;
    }
    
.tBox {
    background-color: var(--fundo);
    font-size: large;
    width: 60em;
    height: 7em;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
}

.bBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.boxDados {
    background-color: var(--fundo);
    border-radius: 10px;
    width: 20em;
    height: auto;
    text-align: start;

}

.alerta {
    height: 300px;
    width: 300px;
    opacity: 0;
    animation: fadeInOut 1s infinite;
}